// ---------------------------------------------------------------------
// Masthead
// ---------------------------------------------------------------------
.masthead {
    display: table;
    width: 100%;
}
.masthead > * {
    display: table-cell;
    width: 50%;
}

.masthead-left {
    text-align: left;
}
.masthead-right {
    text-align: right;
}