// ---------------------------------------------------------------------
// Page
// ---------------------------------------------------------------------
.page {}

.page-hd {
    height: 125px;
    background-color: #efefef;
}

.page-bd {
    padding: 20px 0;
}

.page-ft {
    min-height: 100px;
    background-color: #eeeeee;
}