// ------------------------------------------------------------------------
// Mixins
// ------------------------------------------------------------------------
@mixin clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin isVisuallyHidden() {
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    position: absolute !important;
    left: -9999px;
    clip: rect(1px 1px 1px 1px) !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
}

@mixin isHidden() {
    display: none !important;
}

@mixin border-radius($integer) {
    -webkit-border-radius: $integer + px;
    -moz-border-radius: $integer + px;
    -ms-border-radius: $integer + px;
    -o-border-radius: $integer + px;
    border-radius: $integer + px;
}

// opacity mixin
@mixin opacity($float, $integer) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$integer)"; /* IE 8 */
    filter: alpha(opacity=$integer); /* IE 5-7 */
    opacity: $float; /* W3C */
}

// rem mixin w/ fallback
@mixin font-size($val){
    font-size: $val + px;
    font-size: $val / $BASE_FONT_SIZE + rem;
}

@mixin transition($time) {
    -webkit-transition: all $time ease-in-out;
    -moz-transition: all $time ease-in-out;
    -ms-transition: all $time ease-in-out;
    -o-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}
// ------------------------------------------------------------------------
// Utilities
// ------------------------------------------------------------------------
.u-isHidden {
    display: none !important;
}

.u-isVisuallyHidden {
    @include isVisuallyHidden();
}

.u-isTruncated {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.u-breakWord { word-break: break-word; }

@media screen and (max-width: 767px) {
    .u-isNotScrollable {
        overflow: hidden;
    }
}

// ------------------------------------------------------------------------
// Visibility
// ------------------------------------------------------------------------
@media screen and (min-width: 768px) {
    .u-isHiddenMD { display: none !important; }
}

@media screen and (max-width: 767px) {
    .u-isHiddenSM { display: none !important; }
}
